button {
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border: none;
  outline: none;
  padding: .5rem;
  &:active{
    outline: none;
  }
}
button.primary{
  background: #eb5933 0% 0% no-repeat padding-box;
}
button.secondary{
  background: #031A2F;
}
